PORT=5000

MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_URI=
JWT_SECRET=
JWT_REFRESH_SECRET=

CLIENT_URL=

GEMINI_API_KEY=
GEMINI_MODEL=


EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

HUBSPOT_ACCESS_TOKEN=
HUBSPOT_STAGE_SUBMITTED=
HUBSPOT_STAGE_PROCESSING=
HUBSPOT_STAGE_PENDING_DOCUMENTS=
HUBSPOT_STAGE_PENDING_REVIEW=
HUBSPOT_STAGE_APPROVED=
HUBSPOT_STAGE_REJECTED=
HUBSPOT_PIPELINE_ID=

HUBSPOT_CLIENT_SECRET=...